.redborder {
    border: 1px solid red;
}

.blueborder {
    border: 1px solid blue;
}

.yellowborder {
    border: 1px solid yellow;
}

.flexed {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 10px;
    overflow: hidden;
}

.main-wrap {
    height: 900px;
    width: 100% !important;
}



.center-section {
    /* height: 100%; */
}


.can-carousel {
    margin-top: 30px;
    flex-flow: column;
    z-index: 100;
}

.images {
    height: 800px;
}

@media (max-width : 1024px) {
    .images {
        height: 500px;
    }
}

.carousel-button-wrap {
    justify-content: space-between;
}

#next-arrow,
#previous-arrow {
    width: 100px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    z-index: 100;
    cursor: pointer;
}

/*
============
LEFT SECTION
============
*/

.left-flavor-section {
    /* display: flex; */
    /* height: 800px; */
    padding: 0 !important;
    
}

.title-hug {
    display: flex;
    flex-flow: column;
}

.flavor-title {
    position: relative;
    height: 800px;
    width: inherit;
    
}

.flavor-title-img {
    margin: 0px 50px 0px 50px;
}

.flavor-title-icon {
    margin-top: 50px;
    height: 100px !important;
}

/*
=============
RIGHT SECTION
=============
*/

.right-info-section {
    height: 100%;

}